form.newEntry {
  margin: 0 auto;
}
form.newEntry label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px dotted #ccc;
  margin-bottom: 1rem;
  padding: 1rem;
}
